
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
/*remove input box arrows*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.UserNFTs::-webkit-scrollbar {
    width: 5px; /* sets the width of the scrollbar */
    height: 1px;
    border-radius: 10px 10px 0 0; /* rounds the top corners of the scrollbar */
    background-color: #ccc; /* sets the background color of the scrollbar */
}

/* styles the thumb (draggable part of the scrollbar) */
.UserNFTs::-webkit-scrollbar-thumb {
    border-radius: 10px 10px 0 0; /* rounds the top corners of the thumb */
    background-color: #999; /* sets the background color of the thumb */
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
    font-family: 'Lora', serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #2c3e50;
    background-color: #bdc3c7;
}

div.TradeBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    border: 1px solid #2c3e50;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
    padding: 2vh;
    width: 150vh; 
    height: 80vh;
}

div.Offers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    border: 1px solid #2c3e50;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
    padding: 2vh;
    width: 150vh; 
    height: 80vh;
}

#offerNavButton {
    position: absolute;
    right: 83vh;
}

#tradeNavButton {
    position: absolute;
    right: 83vh;
}

div.OffersTitles {
    display: flex;
    flex-direction: row;
}

div.OfferBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    border: 1px solid #2c3e50;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
    padding: 2vh;
    width: 43vh; 
    height: 25vh;
}

div.Offers > h1 {
    position: absolute;
    top:4%

}

div.offerInnerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

div.OfferBox {
    word-wrap: break-word;
    overflow: visible;
}

div.TradeBox > h1 {
    position: static;
    transform: translate(0, -35vh);
    font-size: 4vh;
    margin-top:1vh;
    margin-bottom:1vh;
}

div.TradeArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

div.TradeArea > div.UserTradeBox {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

div.UserTradeBox > h1 {
    position: absolute;
    top:4%
}

div.UserNFTs {
    display:flex;
    flex-wrap: wrap;
    order: 4;
    
    justify-content: center;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: 1vh;
    

    padding-top: 1vh;

    border-style: solid;
    border-color: black;
    border-radius: 25px;
    border: 1px solid #2c3e50;

    height: 60vh;
    width: 72vh;

    overflow-y: scroll;
    -ms-overflow-style: none;
}

div.offerInfoRequesterDiv {
    display:flex;
    flex-wrap: wrap;
    order: 4;

    justify-content: center;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: 1vh;
    

    padding-top: 1vh;

    border-style: solid;
    border-color: black;
    border-radius: 25px;
    border: 1px solid #2c3e50;

    height: 60vh;
    width: 72vh;

}

div.offerInfoRecipientDiv {
    display:flex;
    flex-wrap: wrap;
    order: 4;

    justify-content: center;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: 1vh;

    padding-top: 1vh;

    border-style: solid;
    border-color: black;
    border-radius: 25px;
    border: 1px solid #2c3e50;

    height: 60vh;
    width: 72vh;

}

div.mainTradeAreaDiv {
    display: flex;
    flex-direction: row;
    gap: 1vh;

    justify-content: center;
    align-items: center;
}

.nftBox {
    position: relative;
    filter: brightness(100%); /* Initial brightness */
    transition: filter 0.3s ease;

    margin-left: 0.5vh;
    margin-right: 0.5vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;

    width: 13vh;
    height: 13vh;


    border-radius: 25px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    Background-size : contain;
    object-fit: contain;
    
}


.nftBox::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    width: 100px;
    height: 100px;
    transition: opacity 0.3s ease;
}

#chooseRecipientTradeBox{
    display: flex;
    flex-direction: column;
    gap: 2vh;

    justify-content: center;
    align-items: center;
}

.RecipientBoxTitle {
    display: flex;
    flex-direction: row;
}
.YouBoxTitle {
    display: flex;
    flex-direction: row;
}

.nftBox img{
    width: 25%;
   
}

.nftBox {
    cursor: pointer
}


button {
    color: #2c3e50;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    padding:0.5vh 1vh;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;   
}